<!DOCTYPE html>
<html>
<head>
  <meta content="text/html;charset=utf-8" http-equiv="content-type">
  <title>Free &amp; Open Source Postal Code to Electoral District Web Service</title>
  <style type="text/css">
  #container {
    width: 40em;
    margin: 100px auto 0 auto;
    font-family: Arial, sans-serif;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  </style>
</head>

<body>
  <div id="container">
    <h1>Postal Code to Electoral District API</h1>
    <h2>Examples</h2>
    <ul>
      <li><a href="http://postal-code-to-edid-webservice.heroku.com/postal_codes/A1A1A1">http://postal-code-to-edid-webservice.heroku.com/postal_codes/A1A1A1</a></li>
      <li><a href="http://postal-code-to-edid-webservice.heroku.com/postal_codes/K0A1K0">http://postal-code-to-edid-webservice.heroku.com/postal_codes/K0A1K0</a></li>
      <li><a href="http://postal-code-to-edid-webservice.heroku.com/postal_codes/K0A1K0/csv">http://postal-code-to-edid-webservice.heroku.com/postal_codes/K0A1K0</a></li>
    </ul>
    <h2>Documentation</h2>
    <p><a href="http://github.com/jpmckinney/postal_code_to_edid_webservice#readme">See here</a></p>
  </div>
</body>
</html>