<!DOCTYPE html>
<html>
<head>
  <meta content="text/html;charset=utf-8" http-equiv="content-type">
  <title>Free &amp; Open Source Postal Code to Electoral District Web Service</title>
  <style type="text/css">
  #container {
    width: 45em;
    margin: 100px auto 0 auto;
    font-family: Arial, sans-serif;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  p {
    margin-bottom: 0;
  }
  </style>
</head>

<body>
  <div id="container">
    <h1>Postal Code to Electoral District API</h1>
    <h2>Examples</h2>
    <ul>
      <li>
        <p>A postal code containing a single electoral district:</p>
        <a href="http://postal-code-to-edid-webservice.heroku.com/postal_codes/A1A1A1">http://postal-code-to-edid-webservice.heroku.com/postal_codes/A1A1A1</a>
      </li>
      <li>
        <p>A postal code containing multiple electoral districts:</p>
        <a href="http://postal-code-to-edid-webservice.heroku.com/postal_codes/K0A1K0">http://postal-code-to-edid-webservice.heroku.com/postal_codes/K0A1K0</a>
      </li>
      <li>
        <p>You can also get the electoral districts in CSV format:</p>
        <a href="http://postal-code-to-edid-webservice.heroku.com/postal_codes/K0A1K0/csv">http://postal-code-to-edid-webservice.heroku.com/postal_codes/K0A1K0/csv</a>
      </li>
      <li>
        <p>Or as JSONP for cross-domain AJAX requests:</p>
        <a href="http://postal-code-to-edid-webservice.heroku.com/postal_codes/K0A1K0/jsonp?callback=success">http://postal-code-to-edid-webservice.heroku.com/postal_codes/K0A1K0/jsonp?callback=success</a>
      </li>
    </ul>
    <h2>Documentation</h2>
    <p>The API returns the IDs used by Elections Canada to represent electoral districts. For more documentation, <a href="http://github.com/jpmckinney/postal_code_to_edid_webservice#readme">see here</a>.</p>
  </div>
</body>
</html>